::view-transition-old(ep2),
::view-transition-new(ep2) {
  animation: none;
  mix-blend-mode: normal;
}

::view-transition-new(ep2) {
  z-index: 2147483646;
}

::view-transition-old(ep2) {
  z-index: 600;
}

.dark::view-transition-new(ep2) {
  z-index: 600;
}
.dark::view-transition-old(ep2) {
  z-index: 2147483646;
}

.all {
  view-transition-name: ep2;
}
